.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }



.container {
    
}

.logo-container {
    border: solid white 1px;
    padding: 30px 0px 0px 30px;
}
.App {
    border: 1px solid yellow;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
}
.display {
    border: solid white 1px;
    justify-content: center;
    
}
.buttons {
    background: dodgerblue;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    font-size: 4rem;
    
    margin: 2%;
}
.button-container {
    border: 1px solid yellow;
    display: flex;
    margin: 5%;
}
.row-buttons {
    flex-flow: row wrap;
    
}
.column-buttons {
    border: 1px solid black;
    height: 533.375px;
    display: flex;
    

}
.spec-container {
    border: solid white 1px;
    
}
.num-container {
    border: solid white 1px;
}
.op-container  {
    border: solid white 1px;
    display: flex;
    justify-items: flex-end;
    flex-flow: column nowrap;
}